---
import { Image } from "astro:assets";

import { getImageImport } from "@/lib/get-image-import";

interface Props {
	image: string;
}

const { image } = Astro.props;
---

<div class="grid grid-cols-[200px_1fr] content-start gap-x-6">
	<Image alt="" src={getImageImport(image)} />
	<slot />
</div>
