---
import { Image } from "astro:assets";

import { getImageImport } from "@/lib/get-image-import";

interface Props {
	class?: string;
	image?: string | null;
}

const { class: className, image } = Astro.props;
---

<section
	class:list={[
		"mx-auto w-full max-w-screen-lg border-t-4 border-brand lg:my-6 lg:rounded-b-md lg:bg-white lg:shadow",
		className,
	]}
>
	{image && <Image alt="" src={getImageImport(image)} class="h-56 object-cover" />}
	<div class="grid gap-y-6 px-6 pb-12 pt-6">
		<slot />
	</div>
</section>
