---
interface Props {
	id?: string;
}

const { id } = Astro.props;
---

<h2 class="border-b border-neutral-200 text-xl font-bold" id={id}>
	<span class="-my-px inline-flex border-b border-brand pb-4 text-brand">
		<slot />
	</span>
</h2>
