---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<h1
	class:list={[
		"text-2xl font-extrabold leading-tight text-brand xs:text-3xl sm:text-4xl",
		className,
	]}
>
	<slot />
</h1>
